/*********************************
********** HEADER CSS START*******
*********************************/
.header {
  width: 100vw;
  padding: 0px 0px 60px 0px;
}

/****** NAV SECTION START ********/
.bg {
  width: 100%;
  background-color: #080928;
}

.navbar-brand img {
  width: 65px;
  height: auto;
  margin: 0px 0px 0px 30px;
}

.navbar-nav .nav-item .nav-link {
  color: #fff !important;
  font-size: 1.4rem;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #FB2056 !important;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.navbar-nav .nav-item .active {
  color: #FB2056 !important;
}

.collapse .btn {
  margin: 0px 30px 0px 25px;
  background-color: #FB2056;
  border: none;
  outline: none;
  font-size: 1.4rem !important;
  padding: 6px 15px;
  border-radius: 20px;
}

.collapse .btn:hover {
  margin: 0px 30px 0px 25px;
  background-color: #FB2056;
  border: none;
  outline: none;
  font-size: 1.4rem !important;
  padding: 6px 15px;
  border-radius: 20px;
}

.collapse .btn:focus {
  margin: 0px 30px 0px 25px;
  background-color: #FB2056;
  border: none;
  outline: none;
  font-size: 1.4rem !important;
  padding: 6px 15px;
  border-radius: 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/******NAV SECTION END*******/
/****** HERO SECTION START*******/
.hero {
  width: 100%;
  padding: 60px 0px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(bgimage/header-bg.jpg) no-repeat center top;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(bgimage/header-bg.jpg) no-repeat center top;
  background-size: cover;
}

.hero_content {
  width: auto;
  max-width: 1000px;
  min-width: 150px;
  border-radius: 5px;
  background-color: rgba(19, 25, 41, 0.8);
  text-transform: uppercase;
  /** h2:nth-child(2){
        color:$date;
    }**/
}

.hero_content h1 {
  color: #fff;
  padding: 15px 0px;
  position: relative;
  font-size: 2rem;
  font-weight: 700;
}

.hero_content h1::before {
  position: absolute;
  content: '';
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 15%;
  height: 3px;
  background-color: #FB2056;
}

.hero_content h2 {
  color: #fff;
  font-weight: 600;
  padding: 25px 0px;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.hero_content h3 {
  color: #fff;
  font-weight: 500;
  padding: 25px 25px;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.hero_content .date {
  color: #ECE644;
  font-weight: 800;
}

.hero_content .address {
  font-weight: 700;
  padding: 25px 0px !important;
}

.hero_content .btn {
  margin: 10px 15px 25px 0px;
  border: none;
  outline: none;
  font-size: 1.4rem !important;
  padding: 8px 15px;
  border-radius: 30px;
}

.hero_content .btn:hover {
  border: none;
  outline: none;
  font-size: 1.4rem !important;
}

.hero_content .btn:focus {
  border: none;
  outline: none;
  font-size: 1.4rem !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.hero_content .btn-primary {
  background-color: #FB2056;
}

.hero_content .btn-primary:hover {
  background-color: #FB2056;
}

.hero_content .btn-danger {
  background-color: #188D16;
}

.hero_content .btn-danger:hover {
  background-color: #188D16;
}

/****** HERO SECTION END*******/
/*********************************
********** HEADER CSS END*********
*********************************/
