$nav-bg:#080928;
$primary-color:#FB2056;
$date:#ECE644;
$second-button:#188D16;
$highlighted-border:#F3C3C3;
$text-primari:#fff;
$text-secondary:#000;
$nav-fontsize:1.4rem;
$box-color:rgba( 19,25,41,.8);